body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.tippy-content {
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.875rem;
}

.btn, .custom-left, .custom-right {
  margin-left: 5px;
}

section {
  display: flex;
}

a {
  color: #000;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}